
Avaliação Bimestral(6,0pts)
Mayara Kaynne Fragoso Cabral
•
19 de set. (editado: 26 de set.)
600
/600
600 pontos de 600 possíveis
Data de entrega: 26 de set.
O Site será avaliado da seguinte forma:
2,0 pts - Construção do layout todo com CSS
1,0 pts - Toda formatação Via CSS
1,5 pts -  Contéudo compatível com o tema, e informativo.
1,5pts -  Respostas de duas perguntas sobre o layout. Serão feitas no momento de entrega do site
Valor Total (6,0 pontos)

AvaliacaoBimestral.pdf
PDF
Comentários da turma
Seus trabalhos
Com nota

eduarda.html
HTML

duda.css
Folha de estilo
Não é possível entregar atividades após a data de entrega
Comentários particulares
*{
padding: 0%;
margin: 0%;
}
divpai{
width: 1000%;
height: 1000%;
}
#topo{
    width: 80%;
    height: 25px;
    background-color:gray;
    padding: 5px;
    float: left;
  }
  #corpo{
      width: 80%;
      height: 450px;
      background-color:#D3D3D3;
            padding: 5px;
      float: left;
    }
  #rodape
  {
      width: 80%;
      height: 28px;
      background-color:rgb(233, 233, 255);
      padding: 5px;
      float: left;
    }
    #enquete 
    {
        width: 19%;
        height: 530px;
        background-color:rgb(72, 46, 82);
   
        float:right;
    }
  body{
      text-align: center;
      margin-left: auto;
  }
